@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --color_cgv_ok: #209F20;
  --color_cgv_ok_shadow: #FFFFFF;
  --color_cgv_warning: #EAB147;
  --color_cgv_warning_shadow: #8B0000;
  --color_cgv_critical: #D82C68;
  --color_cgv_critical_shadow: #D8C941;
  --color_cgv_accent: #0EB5ED;
  --color_cgv_gauges: #FFFFFF;
  --color_cgv_button-active: #808080;

  --color_settings_dark: #2C3333;
  --color_settings_darken: #395B64;
  --color_settings_lighten: #A5C9CA;
  --color_settings_light: #E7F6F2;
  --color_settings_highlight: #CAA7A5;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

*, html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;

  font-family: 'Lato', Tahoma, sans-serif;
  font-size: 1em;
}

input:focus,
input:focus-visible {
  outline: none;
}

.cgv {
  -webkit-app-region: drag;
  user-select: none;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: rgb(96, 96, 96);
  color: var(--color_cgv_gauges);
}
  .cgv--frozen {
    box-shadow: inset 0 0 50px var(--color_cgv_accent);
  }

.cgv__last {
  grid-row: span 2;
  margin-bottom: 2.5%;

  font-size: 3.3em;
  font-weight: 800;
}
  .cgv__last--ok {
    color: var(--color_cgv_ok);
    text-shadow: 1px 1px 0px var(--color_cgv_ok_shadow);
  }
  .cgv__last--warning {
    color: var(--color_cgv_warning);
    text-shadow: 1px 1px 0px var(--color_cgv_warning_shadow);
  }
  .cgv__last--critical {
    color: var(--color_cgv_critical);
    text-shadow: 1px 1px 0px var(--color_cgv_critical_shadow);
  }
  .cgv__last--accented {
    color: var(--color_cgv_accent);
  }

.cgv__age {
  display: none;
  position: absolute;
  top: 33px;
  right: 5px;
  width: 50px;

  font-size: 0.7em;
  text-align: center;
}

.cgv__trend {
  min-width: 20px;
  min-height: 20px;
  text-align: center;
}

.widget-control {
  -webkit-app-region: no-drag;
  user-select: none;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;

  display: grid;
  align-content: space-between;
  justify-content: start;
}

.widget-button {
  -webkit-app-region:no-drag;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  background-color: transparent;
  opacity: 0.6;
  border: none;
  border-radius: 15%;
}
  .widget-button:hover {
    opacity: 1;
  }
  .widget-button:active {
    background-color: var(--color_cgv_button-active);
  }

.settings {
  height: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  padding-bottom: 15px;

  font-family: inherit;
  color: var(--color_settings_light);
  background-color: var(--color_settings_dark);
}
  .settings__title {
    -webkit-app-region: drag;
    user-select: none;

    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .settings__app-version {
    padding-right: 10px;
    text-align: right;
    color: var(--color_settings_darken);
  }

  .settings__log-link {
    color: var(--color_settings_light);
    text-transform: capitalize;
  }
    .settings__log-link:hover {
      color: var(--color_settings_highlight);
    }

.settings-fields {
  display: grid;
  grid-template-columns: 40% auto;
}
  .settings-fields__nightscout {
    grid-column: span 2;
  }

.settings-field {
  margin: 5px;
  padding: 10px;

  border: 1px solid var(--color_settings_darken);
  border-radius: 5px;
}
  .settings-field__title {
    user-select: none;
    margin-bottom: 15px;

    font-weight: 500;
  }

.settings-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 2.5px;
}
  .settings-input__disabled-tooltip {
    visibility: hidden;

    position: absolute;
    z-index: 1;

    padding: 5px;

    background-color: var(--color_settings_lighten);
    font-size: smaller;
    color: var(--color_settings_darken);
    text-align: center;
    border-radius: 5px;
  }
  .settings-input:hover .settings-input__disabled-tooltip {
    visibility: visible;
  }
  .settings-input__label {
    user-select: none;
    min-width: 40%;

    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 800;
    text-transform: uppercase;
    color: var(--color_settings_lighten);
  }
  .settings-input__field {
    width: 100%;

    padding: 5px;

    background-color: var(--color_settings_darken);
    border: none;
    border-radius: 5px;

    font-family: inherit;
    font-size: inherit;
    line-height: 1.15;
    color: var(--color_settings_light);
  }
    .settings-input__field:disabled {
      color: var(--color_settings_dark);
      font-style: italic;
    }
    .settings-input__field:disabled + .settings-input__label,
    .settings-input__check:disabled ~ * .settings-input__label {
      color: var(--color_settings_darken);
      font-style: italic;
    }
    .settings-input__check:checked:disabled ~ * .settings-input__field--checkbox {
      background-image: url(./asset/icons8-check-disabled.png);
      background-size: 100% 100%;
    }
    .settings-input__field--number {
      width: 80px;
    }
    .settings-input__check-wrapper {
      width: 100%;

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .settings-input__field:focus,
    .settings-input__field:focus-visible,
    .settings-input__check:focus + * .settings-input__field--checkbox {
      box-shadow: 0 0 10px var(--color_settings_highlight);
    }
    .settings-input__field:focus + .settings-input__label,
    .settings-input__check:focus ~ * .settings-input__label {
      color: var(--color_settings_highlight);
    }
    .settings-input__field--checkbox {
      width: 30px;
      height: 30px;

      margin-right: 50px;
    }
    .settings-input__check {
      appearance: none;
      position: absolute;
    }
    .settings-input__check:checked + * .settings-input__field--checkbox {
      background-image: url(./asset/icons8-check.png);
      background-size: 100% 100%;
    }
    .settings-input__check:focus + .settings-input__field--checkbox {
      box-shadow: 0 0 10px var(--color_settings_highlight);
    }

.settings-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.settings-footer__buttons {
  margin-top: 5px;
  display: flex;
}
.settings-footer__meta {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 10px;
}

.settings-button {
  min-width: 100px;

  margin: 5px;
  padding: 10px;

  background-color: var(--color_settings_darken);
  border: none;
  border-radius: 5px;

  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--color_settings_light);
}
  .settings-button:hover {
    background-color: var(--color_settings_lighten);
    color: var(--color_settings_dark);
  }
  .settings-button:active {
    background-color: var(--color_settings_darken);
    color: var(--color_settings_dark);
  }

.settings-button-close {
  -webkit-app-region: no-drag;
  user-select: none;

  position: absolute;
  top: 5px;
  right: 5px;

  max-width: 25px;
  height: 25px;

  background-color: var(--color_settings_dark);
  border: none;
  border-radius: 5px;
}
  .settings-button-close:hover {
    background-color: var(--color_settings_darken);
  }
  .settings-button-close:active {
    background-color: var(--color_settings_lighten);
  }
