name: Test action

on:
  push:
    branches:
      - "develop"

jobs:
  build package:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.14.0'
          repo-token: ${{ secrets.PROD_GITHUB_TOKEN }}
        
      - name: Install dependencies
        run: npm install

      - name: Build x64 dmg
        run: npm run ship
