name: Test action

on:
  push:
    branches:
      - "develop"

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: Check arch for Mac
        run: system_profiler SPHardwareDataType | grep Chip
