name: Test action

on:
  push:
    branches:
      - "actions"

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check the GH_TOKEN
        env:
          GH_TOKEN: ${{ github.token }}
        run: echo $GH_TOKEN
