name: Test action

on:
  push:
    branches:
      - "actions"

jobs:
  build-macos:
    runs-on: macos-latest
    env:
      KEYCHAIN_NAME: "build.keychain"
      KEYCHAIN_PATH: "/Users/runner/Library/Keychains/"
      NOTARYTOOL_PROFILE: "notarytool-profile"

    steps:
      - name: Check env substance 
        env:
          TEST_VAR: "local-step-var"
        run: |
          echo 1: $TEST_VAR
          echo 2: "$TEST_VAR"
          echo 3: ${TEST_VAR}
          echo 4: ${env.KEYCHAIN_NAME}
          echo 5: ${{env.KEYCHAIN_NAME}}
        

