name: Test action

on:
  push:
    branches:
      - "actions"

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v2
        
      # - name: Setup Node.js
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: '18.14.0'
        
      # - name: Install dependencies
      #   run: npm install
      
      - name: Keychain preparation
        env: 
          MACOS_CERTIFICATE: ${{ secrets.PROD_MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.PROD_MACOS_CERTIFICATE_PWD }}
          MACOS_CERTIFICATE_NAME: ${{ secrets.PROD_MACOS_CERTIFICATE_NAME }}
          MACOS_CI_KEYCHAIN_PWD: ${{ secrets.PROD_MACOS_CI_KEYCHAIN_PWD }}
          PROD_MACOS_NOTARIZATION_APPLE_ID: ${{ secrets.PROD_MACOS_NOTARIZATION_APPLE_ID }}
          PROD_MACOS_NOTARIZATION_TEAM_ID: ${{ secrets.PROD_MACOS_NOTARIZATION_TEAM_ID }}
          PROD_MACOS_NOTARIZATION_PWD: ${{ secrets.PROD_MACOS_NOTARIZATION_PWD }}
        run: |
          # Turn our base64-encoded certificate back to a regular .p12 file
          
          echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12

          # We need to create a new keychain, otherwise using the certificate will prompt
          # with a UI dialog asking for the certificate password, which we can't
          # use in a headless CI environment
          
          security create-keychain -p "$MACOS_CI_KEYCHAIN_PWD" build.keychain 
          security default-keychain -s build.keychain
          security unlock-keychain -p "$MACOS_CI_KEYCHAIN_PWD" build.keychain
          security import certificate.p12 -k build.keychain -P "$MACOS_CERTIFICATE_PWD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$MACOS_CI_KEYCHAIN_PWD" build.keychain

          # echo "Create keychain profile"
          xcrun notarytool store-credentials "notarytool-profile" --apple-id "$PROD_MACOS_NOTARIZATION_APPLE_ID" --team-id "$PROD_MACOS_NOTARIZATION_TEAM_ID" --password "$PROD_MACOS_NOTARIZATION_PWD"
      
      - name: Build the package
        env: 
          APPLE_KEYCHAIN: "/Users/runner/Library/Keychains/build.keychain-db"
          APPLE_KEYCHAIN_PROFILE: "notarytool-profile" 
          GH_TOKEN: ${{ github.token }}
        run: |
          security show-keychain-info "$APPLE_KEYCHAIN"
          npm run ship



      # - name: Build the package
      #   env:
      #     GH_TOKEN: ${{ github.token }}
      #     APPLE_KEYCHAIN: "/Users/runner/Library/Keychains/build.keychain-db"
      #     APPLE_KEYCHAIN_PROFILE: "notarytool-profile" 
      #   run: npm run ship

      - name: Upload Error Log as Artifact
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: notarization-error-log
          path: notarization-error.log

