name: Test action

on:
  push:
    branches:
      - "develop"

jobs:
  test:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-latest, macos-13]

    steps:
      - name: Check OS Name 
        run: system_profiler SPHardwareDataType | grep Processor
      - name: Check architecture type
        run: uname -m
