name: Clean release assets 

on:
  push:
    branches:
      - "post-actions"

jobs:
  clean-release:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest release info
        id: get_latest_release
        uses: octokit/graphql-action@v2.x
        with:
          query: |
            query release($owner:String!,$repo:String!) {
              repository(owner:$owner,name:$repo) {
                releases(first:1) {
                  nodes {
                    releaseAssets(first:20) {
                      nodes {
                        id
                        name
                      }
                    }
                  }
                }
              }
            }
          variables: |
            owner: ${{ github.event.repository.owner.name }}
            repo: ${{ github.event.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the request data
        run: |
          echo 'latest release: ${{ steps.get_latest_release.outputs.data }}'

      - name: Filter requested data
        id: jq_filter
        run: |
          blockmaps=$(
            echo '${{ steps.get_latest_release.outputs.data }}' | jq \
            -r '.repository.releases.nodes[].releaseAssets.nodes |
            map(select(.name | endswith(".blockmap")).id | "\"" + . + "\"") | join(",")'
          )
          echo "blockmap_list=[$blockmaps]" >> $GITHUB_OUTPUT
  
      - name: Get the result
        run: |
          echo ${{ steps.jq_filter.outputs.blockmap_list }}
      
      - name: Delete release assets
        id: delete_assets
        run: |
          for asset_id in ${{ steps.jq_filter.outputs.blockmap_list }}; do
            echo "Deleting asset with ID: $asset_id"
            curl -X DELETE -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ github.repository }}/releases/assets/$asset_id"
          done
      
      


