name: Build artifacts

on:
  push:
    branches:
      - "post-actions"

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Get some infor from repo-
        uses: octokit/graphql-action@v2.x
        with:
          query: |
            query release($OWNER:String!,$REPO:String!) {
              repository(owner:$OWNER,name:$REPO) {
                releases(first:1) {
                  nodes {
                    name
                    createdAt
                    tagName
                    description
                  }
                }
              }
            }
          variables: |
            OWNER: ${{ github.event.repository.owner.name }}
            REPOR: ${{ github.event.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
