name: Clean release assets 

on:
  push:
    branches:
      - "post-actions"

jobs:
  clean-release:
    runs-on: ubuntu-latest

    steps:
      - name: Get the release data
        id: releases_data
        env:
          HOST: "https://api.github.com"
          ENDPOINT: "/repos/${{ github.event.repository.owner.name }}/${{ github.event.repository.name }}/releases"
        run: |
          data=$(
            curl -X GET -s \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "${HOST}${ENDPOINT}"
          )
          data=$(echo "${data}" | jq '.[0] | {name, id, assets: (.assets | map({name, id}))} | tostring')
          echo "release_data=${data}" >> $GITHUB_OUTPUT
      
      - name: Read the output
        run: |
          echo ${{ steps.releases_data.outputs.release_data }} | jq '.'


      - name: Filter requested data
        id: jq_filter
        run: |
          blockmaps=$(
            echo '${{ steps.releases_data.outputs.release_data }}' | jq \
            'fromjson | .assets | map(select(.name | endswith(".blockmap"))) | map(.id | tostring)' 
          ) 
          echo "( ${blockmaps} )"
          echo "blockmap_list=( ${blockmaps} )" >> $GITHUB_OUTPUT
  
      - name: Remove the blockmap files
        env:
          HOST: "https://api.github.com"
          ENDPOINT: "/repos/${{ github.event.repository.owner.name }}/${{ github.event.repository.name }}/releases/assets/"
        run: |
          assets_array="${{ steps.jq_filter.outputs.blockmap_list }}"
          assets_array="${assets_array#(}"
          assets_array="${assets_array%)}"

          # Convert the array string to an actual array
          IFS=', ' read -ra assets <<< "$assets_array"
          
          # Iterate over the array elements
          echo "Iterating over the assets:"
          for asset_id in "${assets[@]}"; do
            echo "Deleting asset with ID: $asset_id"
            curl -X DELETE -s \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "${HOST}${ENDPOINT}$asset_id"
          done

        

