name: Clean release assets 

on:
  push:
    branches:
      - "post-actions"

jobs:
  clean-release:
    runs-on: ubuntu-latest

    steps:

      # - name: Checkout code
      #   uses: actions/checkout@v2

      - name: Get latest release info
        id: get_latest_release
        uses: octokit/graphql-action@v2.x
        with:
          query: |
            query release($owner:String!,$repo:String!) {
              repository(owner:$owner,name:$repo) {
                releases(first:1) {
                  nodes {
                    releaseAssets(first:20) {
                      nodes {
                        id
                        name
                      }
                    }
                  }
                }
              }
            }
          variables: |
            owner: ${{ github.event.repository.owner.name }}
            repo: ${{ github.event.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the request data
        run: |
          echo 'latest release: ${{ steps.get_latest_release.outputs.data }}'

      - name: Filter requested data
        id: jq_filter
        run: |
          blockmaps=$(
            echo '${{ steps.get_latest_release.outputs.data }}' | jq \
            -r '.repository.releases.nodes[].releaseAssets.nodes |
            map(select(.name | endswith(".blockmap")).id | "\"" + . + "\"") | join(" ")'
          )
          echo "( ${blockmaps} )"
          echo "blockmap_list=( ${blockmaps} )" >> $GITHUB_OUTPUT
  
      - name: Get the result
        run: |
          array_string="${{ steps.jq_filter.outputs.blockmap_list }}"
          array_string="${array_string#(}"
          array_string="${array_string%)}"

          # Convert the array string to an actual array
          IFS=', ' read -ra elements <<< "$array_string"
          
          # Iterate over the array elements
          echo "Iterating over the elements:"
          for el in "${elements[@]}"; do
            echo "$el"
          done

        

