name: Clean release assets 

on:
  push:
    branches:
      - "post-actions"

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Get latest release info
        id: get_latest_release
        uses: octokit/graphql-action@v2.x
        with:
          query: |
            query release($owner:String!,$repor:String!) {
              repository(owner:$owner,name:$repo) {
                releases(first:1) {
                  nodes {
                    name
                    createdAt
                    tagName
                    description
                  }
                }
              }
            }
          variables: |
            owner: ${{ github.event.repository.owner.name }}
            repo: ${{ github.event.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: "echo 'latest release: ${{ steps.get_latest_release.outputs.data }}"

